<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="godaddy:BaseUrl" value="https://api.godaddy.com" />
    <add key="godaddy:apikey" value="" />
    <add key="godaddy:apisecret" value="" />
 <add key="login" value="https://login.windows.net/{0}" />
    <add key="tenantId" value="id-of-tenant" /> 
<add key="apiEndpoint" value="https://management.core.windows.net/" />
<add key="clientId" value="id-of-client" />
<add key="redirectUri" value="uri-of-application" />
<add key="subscriptionId" value="id-of-subscription" />
<add key="serviceName" value="name-of-service" />
<add key="storageName" value="name-of-storage" /> 
<add key="deployName" value="name-of-deployment" />
<add key="vmName" value="name-of-virtual-machine" />
<add key="adminName" value="name-of-admin-account" />
<add key="adminPassword" value="password-of-account" />
<add key="imageFilter" value="Windows Server 2012 R2 Datacenter, March 2014" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>