<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net461" />
  <package id="Hyak.Common" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Common" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Common.Dependencies" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.AppService.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.Batch.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.Cdn.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.Compute.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.DevTestLabs" version="1.1.2" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.Dns.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.Graph.RBAC.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.KeyVault.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.Network.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.Redis.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.ResourceManager" version="1.4.0-preview" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.ResourceManager.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.Resources" version="2.20.1-preview" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.Sql.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.Storage.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Azure.Management.TrafficManager.Fluent" version="1.0.0-beta4" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.28.3" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.4" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.4" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.2.9-preview" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NLog" version="4.4.1" targetFramework="net461" />
  <package id="NLog.Extended" version="4.0.0.1" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net461" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net461" />
</packages>